<div class="container">
<div class="row">
  <div>
    <ul class="breadcrumb">
      <li> <a href="{:url('index/index')}">首页</a>  </li>
      <li> {$Think.session.freeswitch_esl_name}  </li>
      <li class="active">通话calls</li>
      </ul>
    {include file="show/menu" /}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>主叫</th>
          <th>被叫</th>
          <th>ip</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        {foreach name="list" item="val"}
          <tr>
            <td>{$val['cid_num']}</td>
            <td>{$val['callee_num']}</td>
            <td>{$val['ip_addr']}</td>
            <td>{$val['name']}</td>
          </tr>
        {/foreach}
      </tbody>
    </table>
  </div>
</div>
