<div>
<a class="btn" href="{:url('index',['type'=>'codec'])}">编码codec</a> |
<a class="btn" href="{:url('index',['type'=>'endpoint'])}">endpoint</a> |
<a class="btn" href="{:url('index',['type'=>'application'])}">应用application</a> |
<a class="btn" href="{:url('index',['type'=>'api'])}">api命令</a> |
<a class="btn" href="{:url('index',['type'=>'dialplan'])}">拨号计划dialplan</a> |
<a class="btn" href="{:url('index',['type'=>'file'])}">文件file</a> |
<a class="btn" href="{:url('index',['type'=>'timer'])}">计时器timer</a> |
<a class="btn" href="{:url('index',['type'=>'calls'])}">通话calls</a> |
<a class="btn" href="{:url('index',['type'=>'channels'])}">通道channels</a> |
<a class="btn" href="{:url('index',['type'=>'detailed_calls'])}">详细通话detailed_calls</a> |
<a class="btn" href="{:url('index',['type'=>'bridged_calls'])}">桥接通话bridged_calls</a> |
<a class="btn" href="{:url('index',['type'=>'detailed_bridged_calls'])}">详细桥接通话detailed_bridged_calls</a> |
<a class="btn" href="{:url('index',['type'=>'aliases'])}">别名aliases</a> |
<a class="btn" href="{:url('index',['type'=>'complete'])}">complete</a> |
<a class="btn" href="{:url('index',['type'=>'chat'])}">chat</a> |
<a class="btn" href="{:url('index',['type'=>'management'])}">management</a> |
<a class="btn" href="{:url('index',['type'=>'modules'])}">模块modules</a> |
<a class="btn" href="{:url('index',['type'=>'nat_map'])}">Nat映射nat_map</a> |
<a class="btn" href="{:url('index',['type'=>'say'])}">say</a> |
<a class="btn" href="{:url('index',['type'=>'interfaces'])}">接口interfaces</a> |
<a class="btn" href="{:url('index',['type'=>'interface_types'])}">接口类型interface_types</a> |
<a class="btn" href="{:url('index',['type'=>'tasks'])}">任务tasks</a> |
<a class="btn" href="{:url('index',['type'=>'limits'])}">限制limits</a> |
<a class="btn" href="{:url('index',['type'=>'status'])}">状态status</a>
</div>